body {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(b9.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1 a{
	text-decoration: none;
	color: grey;
	font-size: 180px;
	margin-top: -30px;
	font-family: Courier;
}
.title h1 a:hover{
	color: white;
}
