body
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(12.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

header h1{
	margin-left: 550px;
}
header h2{
	margin-left: 500px;
}
.img {
	float: center;
	margin-left: 450px;
}

	